*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding:0;
    margin:0;
    background-color:#003249;
}

.button-container{
    display:grid;
    justify-content: center;
    align-content: center;
    padding:1rem
    /* will cover 100% of height at minimum */
}
.date-grid {
    display:grid;
    grid-template-columns: 25% 50% 25%;
    padding:1rem;
}

.date-grid button{
    font-size:1.5rem;
    background-color: #F5F1E3;
    color:#003249;

}

.date-grid h3 {
    text-align: center;
    font-size:1.3rem;
    color: #F5F1E3;
} 

   

.button-container > button {
    margin:0.4rem;
    width:50vh;
    cursor:pointer;
    font-size:1.5rem;
    border: 1px solid white;
    outline:none;
    background-color: #60A561;
    color: #F5F1E3;
    padding:0.5rem;
}

.button-container > button:hover {
    background-color: #FB4D3D;
}